.body-class {
  margin-top: 60px;
  margin-left: 200px;
  min-height: 90vh;
  
  padding: 15px;
  background-color: #EBF4F8; /* light grey background */
  font-family: Arial, sans-serif; /* Optional: sets a default font */
  width: 100%;  
  
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-grid {
  display: grid;
  grid-gap: 20px;
  align-content: center;
  margin: 0 auto;
  max-width: 600px; /* Adjust as needed */
  padding: 20px;
}

.form-row {
  display: grid;
  grid-template-columns: max-content 1fr max-content 1fr; /* Adjusted columns to include labels */
  grid-gap: 90px;
  justify-items: center;
}

label {
  white-space: nowrap; /* Prevents label text from wrapping */
  color: black;
}

input[type="text"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #0e0505;
  border-radius: 10px;
}

input[type="text2"] {
  width: 100%; /* Set the width to 100% to fill the container */
  padding: 12px; /* Adjust padding for a comfortable size */
  border: 1px solid #0e0505;
  border-radius: 10px;
  box-sizing: content-box; /* Include padding and border in the total width */
  /* font-size: 16px; Adjust font size if needed */
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.content {
  margin-left: 200px; /* Adjust to match the sidebar width */
  padding: 20px;
}
